@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_ EmployeeLayout";
    int i = 1;
}
@model employee

<style>
    h1{
        color:darkgreen;
        text-align:center
    }
  .emp{
      border:solid black 2px;
      margin:auto;
      margin-top:50px;
  }
  p{
      text-align:center;
      font-size:larger;
      font-weight:bold;
      margin-top:20px;
  }
  button{
      margin-bottom:20px;
      margin-left:20px
  }
  .rin_body{
      margin-top:200px;
      margin-bottom:50px;
  }

</style>
<div class="rin_body">

    @if (Model is null)
    {
        <h1>This employee is not found</h1>
    }
    else
    {
       
            <h1> Employee Info </h1>
            <div class="emp">
                <p>Frist name:@Model.fname</p>
                <p>Last name:@Model.lname</p>
                <p> Address :@Model.address</p>
                <p> Brith date : @Model.bdate</p>
                <p> Department : @Model.Department.Name</p>
                <h2> Projects Works For:</h2>
              
               <div>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Project Name</th>
                            <th scope="col">Houres</th>
                        </tr>
                    </thead>
                      <tbody>

                        @foreach (var work in Model.Works_Fors)
                        {
                              <tr>
                            <td>@work.Project.pname </td>
                            <td> <span style="color:@(work.houres > 5 ? "green" : "red")">@work.houres</span></td>
                            </tr>
                        } 
                 
                    </tbody>
                </table>   
                </div>
               
           
            <button onclick="window.location.href='GetAll?id=@Model.Id'"> Back To List </button>

        </div>

    }

</div>
@section PageTitle{
    Employee Details
}
